.containerRight {
    padding-left: 15px;
    /*-> Add the default container padding on the left */
    margin-left : auto;
}

/* 575px / 767px / 991px / 1199px / 1599px */



@media only screen and (min-width: 575px) {
    .containerRight {
        width       : calc(575px + (50% - 575px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 767px) {
    .containerRight {
        width       : calc(767px + (50% - 767px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 991px) {
    .containerRight {
        width       : calc(991px + (50% - 991px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 1199px) {
    .containerRight {
        width       : calc(1199px + (50% - 1199px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 1599px) {
    .containerRight {
        width       : calc(1599px + (50% - 1599px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 1999px) {
    .containerRight {
        width       : calc(1999px + (50% - 1999px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 2399px) {
    .containerRight {
        width       : calc(2399px + (50% - 2399px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 2599px) {
    .containerRight {
        width       : calc(2599px + (50% - 2599px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 3599px) {
    .containerRight {
        width       : calc(3599px + (50% - 3599px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 4099px) {
    .containerRight {
        width       : calc(4099px + (50% - 4099px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}
@media only screen and (min-width: 4599px) {
    .containerRight {
        width       : calc(4599px + (50% - 4599px / 2));
        /*-> The container width is based on the current breakpoint bootstrap container width*/
    }
}